header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    z-index: 9999;
    box-sizing: border-box;
}

.about-me {
    font-size: 25px; /* Adjust the size as needed */
    /* other styles */
    margin-top: 20px;
}



.button-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center; 
}

html {
    background: linear-gradient(#000000, #373737); /* Adjusted the second color to a mid-level gray */
    background-repeat: no-repeat;
    background-attachment: fixed; /* keep it fixed to cover the entire content */
    background-size: cover; /* ensure it covers the entire area */
    min-height: 100%;
    width: 100%;
}



body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100%; /* ensure it covers the content */
    width: 100%;
    background: transparent; /* make sure body doesn't have its own background */
    font-weight: italic;
}

/* Ensure that .content and other containers expand with their content */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 80px; /* push content down to avoid being covered by the fixed header */
    padding-top: 20px; /* additional space above the content */
    /* Remove any fixed height if it was previously set */
}

html, body {
    height: 100%;
    min-height: 100%;
}


.content img, .profile-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.logo {
    width: 200px;
    height: 100px;
}

.profile-image {
    width: 300px;
    height: 200px;
}

nav {
    font-size: 24px;
}



.chat-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
}

.chat-messages {
    height: calc(100% - 50px); 
    overflow: auto;
}

.chat-input-bar {
    display: flex;
    width: 90%;
    padding: 1rem;
}

.chat-input-bar input {
    flex: 1;
    padding: 0.5rem;
    font-size: 16px;
}

.chat-input-bar button {
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
}

.user-message {
    text-align: right;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    max-width: 70%;
    align-self: flex-end;
}

.bot-message {
    text-align: left;
    background-color: #a3a3a3;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    max-width: 70%;
    align-self: flex-start;
}

.social-icon {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}
